<table border="6">
  {% for i in queryList %}
  <tr>
    {% for j in i %}
    <td>{{ j }}</td>
    {% endfor %}
  <tr>
    {% endfor %}
<table>
<table border="2" align="right">
  {% for i in finalList %}
  <tr>
    <td><button id="tr{{forloop.counter}}">-></button></td>
    {% for j in i %}
    <td>{{ j }}</td>
    {% endfor %}
  <tr>
    {% endfor %}
<table>
  <table border="4" align="left">
    {% for i in finalTwoFasetList %}
    <tr>
      <td><button id="tr{{forloop.counter}}">-></button></td>
      {% for j in i %}
      <td>{{ j }}</td>
      {% endfor %}
    <tr>
      {% endfor %}
  <table>
